<IfModule mod_rewrite.c>
    RewriteEngine On

    # Redirigir la cabecera Authorization para que Symfony la reciba
    RewriteCond %{HTTP:Authorization} .
    RewriteRule ^ - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Si no es un archivo físico existente en public/, redirigir a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
